@font-face {
    font-family: myFirstfont;
    src: url(https://fonts.google.com/specimen/Lexend+Deca);
}
html, body {
  font-size: 15px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main{
  margin: auto;
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
  color: hsl(0, 0%, 95%);
  font-family: 'Lexend Deca', sans-serif;
}
.column{
  flex: 33.33%;
  height: 400px;
  padding: 32px;
}
.first_column{
  background-color: #e38826;
}
.second_column{
  background-color: #006970;
}
.third_column{
  background-color: #004241;
}
h1{
  padding-top: 20px;
  padding-bottom: 20px;
  color: hsl(0, 0%, 95%);
  font-weight: 700;
}
p{
  padding-bottom: 30px;
  font-size: small;
  color: hsla(0, 0%, 100%, 0.75);
  font-weight: 400;
}
.second_column p{
  padding-bottom: 45px;
}
.button{
  color: hsl(0, 0%, 95%);
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 4px 4px;
  text-align: center;
}
.button1{
  color: #e38826;
}
.button2{
  color: #006970;
}
.button3{
  color: #004241;
}